<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

<div class="form-inputs form-group">

<%= f.input :name,
            placeholder: 'Bob Ross'
            class: 'form_control' %>
<%= f.input :address,
            placeholder "123 Happy Street\nNew Orleans, LA 70114"
            class: 'form_control' %>

<%= f.input :pay_type,
            collection: Order::PAYMENT_TYPES, prompt: "Select a payment methodclass: 'form_control %>
</div>
<div class="form-actions-form form-group"
<%= f.submit 'place order', class: 'btn btn-sm btn-danger'  %>
</div>

<% end %>